extends layout

block content 
    h1 City Name: #{city.name}
    hr
    p Country Name: #{city.country.name} 
    p Region: #{city.country.region}
    p Continent: #{city.country.continent} 
    p City Population: #{city.population} 
    p District: #{city.district} 
    p Country Code: #{city.countryCode}
    
